<footer class="page-footer page-footer--large">
    <div class="container">
        <div class="page-footer__partners">
            <h3 class="page-footer__partners-heading">
                Партнеры команды
            </h3>
            <ul class="page-footer__partners-list">
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/1.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/2.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/3.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/4.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/5.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/6.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/7.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/7.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
                <li class="page-footer__partners-list-item">
                    <a href="#" class="page-footer__partners-card">
                        <img src="img/partners/8.png" alt="" class="page-footer__partners-card-image">
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-footer__big-nav">
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Автоспорт
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Команда
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Автопарк
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            РСКГ
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Ралли
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Расписание
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Расписание гонок
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Результаты
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Трассы
                        </a>
                    </li>

                </ul>
            </div>
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Пилоты
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Григорий Бурлуцкий
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Андрей Радошнов
                        </a>
                    </li>


                </ul>
            </div>
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Медиа
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Туринг/Трансляция
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Контакты
                        </a>
                    </li>


                </ul>
            </div>
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Галерея
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Фотографии
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Carville TV
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__big-nav-col">
                <h4 class="page-footer__big-nav-title">
                    Магазин
                </h4>
                <ul class="page-footer__big-nav-list">
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Одежда
                        </a>
                    </li>
                    <li class="page-footer__big-nav-list-item">
                        <a href="#" class="page-footer__big-nav-link">
                            Одежда
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <a href="tel:+78123362393" class="page-footer__phone-link">

                <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                    <use xlink:href="#phone"></use>
                </svg>
                8 (812) 336-23-93</a>

            <div class="page-footer__address">
                <svg width="14" height="14" aria-hidden="true" class="icon-location">
                    <use xlink:href="#location"></use>
                </svg>
                192102, Санкт-Петербург,<br>
                Московское шоссе, 177<br> к.2 лит. Ж
            </div>

            <a href="mailto:nt@carville.ru" class="page-footer__mail">
                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                    <use xlink:href="#mail"></use>
                </svg>
                nt@carville.ru</a>
            <ul class="page-footer__social-list">
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                            <use xlink:href="#youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-drive">
                            <use xlink:href="#drive"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <div class="page-footer__copyright">
                © 2009-2020 УК "Карвиль
            </div>
        </div>
    </div>
</footer>