<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top-row">
            <a href="index.html" class="page-footer__logo">
                <img src="img/logo-white.png" alt="" class="page-footer__logo-image">
            </a>
            <nav class="page-footer__nav">
                <a href="#" class="page-footer__nav-link">
                    Охлаждающие жидкости
                </a>
                <a href="#" class="page-footer__nav-link">
                    Сотрудничество
                </a>
                <a href="#" class="page-footer__nav-link">
                    Пресс-центр
                </a>
                <a href="#" class="page-footer__nav-link">
                    Смазки
                </a>
                <a href="#" class="page-footer__nav-link">
                    Гарантии
                </a>
                <a href="#" class="page-footer__nav-link">
                    Материалы
                </a>
                <a href="#" class="page-footer__nav-link">
                    Очистители
                </a>
                <a href="#" class="page-footer__nav-link">
                    Точки продаж
                </a>
                <a href="#" class="page-footer__nav-link">
                    Контакты
                </a>
                <a href="#" class="page-footer__nav-link">
                    Герметики
                </a>
            </nav>
            <div class="page-footer__actions">
                <a href="#" class="page-footer__actions-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-acrobat">
                        <use xlink:href="#acrobat"></use>
                    </svg>
                    Скачать каталог
                </a>
                <a href="#" class="page-footer__actions-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                        <use xlink:href="#rub"></use>
                    </svg>
                    Прайс-лист
                </a>
            </div>
            <a href="#" class="page-footer__autosport">
                Автоспорт
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="page-footer__bottom-row">
            <a href="tel:+78123362393" class="page-footer__phone-link">

                <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                    <use xlink:href="#phone"></use>
                </svg>
                8 (812) 336-23-93</a>

            <div class="page-footer__address">
                <svg width="14" height="14" aria-hidden="true" class="icon-location">
                    <use xlink:href="#location"></use>
                </svg>
                192102, Санкт-Петербург,
                Московское шоссе, 177, к.2 лит. Ж
            </div>
            <div class="page-footer__social-block">
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-youtube-2">
                        <use xlink:href="#youtube-2"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram-2">
                        <use xlink:href="#instagram-2"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-tiktok">
                        <use xlink:href="#tiktok"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                </a>
                <a href="#" class="page-footer__social-block-link page-footer__social-block-link--drive">
                    <img src="img/drive2.png" alt="">
                </a>
            </div>
            <div class="page-footer__copyright page-footer__copyright--auto">
                2011-2021 © ООО "Карвиль рейсинг ".<br> Производитель автохимии. Все права<br> защищены. Реализация в РФ
                и СНГ.
            </div>
        </div>
    </div>
</footer>