<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo-orange.png" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <a href="#" class="page-header__nav-link">
                        Сотрудничество
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Гарантии
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Точки продаж
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Пресс-центр
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Материалы
                    </a>
                    <a href="#" class="page-header__nav-link">
                        Контакты
                    </a>
                </nav>
                <div class="page-header__actions">
                    <a href="#" class="page-header__actions-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-acrobat">
                            <use xlink:href="#acrobat"></use>
                        </svg>
                        Каталог
                    </a>
                    <a href="#" class="page-header__actions-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                            <use xlink:href="#rub"></use>
                        </svg>
                        Прайс
                    </a>
                    <a href="#" class="page-header__actions-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-photo">
                            <use xlink:href="#photo"></use>
                        </svg>
                        Фото
                    </a>
                </div>
                <a href="#" class="page-header__lang">
                    Eng
                </a>
                <a href="#" class="page-header__autosport">
                    Автоспорт
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>

            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>