{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <div class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                        <div class="panel__nav-link-dropdown">
                            <div class="panel__nav-link-dropdown-inner">
                                <ul class="panel__nav-link-dropdown-grid">
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Охлаждающие жидкости
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Очистители
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Название категории
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="panel__form-dropdown">
                        <div class="panel__form-dropdown-inner">
                            <ul class="panel__form-search-results">
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            Охлаждающая <b>жидкость </b>
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="panel__form-search-results-show-more">
                                Все результаты (466)
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link">
                Пресс-центр
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                1 этап RDS Запад: как прошел старт сезона?
            </a>
        </div>
    </div>
</section>


<section class="article">
    <div class="container">
        <div class="article__row">
            <div class="article__left-col">
                <h1 class="article__main-heading">
                    1 этап RDS Запад: как прошел старт сезона?
                </h1>
                <div class="article__date">
                    20.05.2021
                </div>
                <div class="article__content">
                    <p>
                        <strong>
                            15-16 мая на ATRON International Circuit (Рязань) прошел первый этап младшей серии RDS
                            Запад. Кто станет победителем этапа? Сможет ли он удержать пальму первенства на протяжении
                            всего сезона?
                        </strong>
                    </p>
                    <h3>
                        В роли судей - известные всему миру пилоты
                    </h3>
                    <p>
                        Судейский состав на первом этапе RDS Запад состоит из действующих пилотов RDS GP, титулованных
                        чемпионов – Чарльза НГ (Китай) и Джеймса Дина (Ирландия). Компанию им составил Дмитрий
                        Добровольский – руководитель Российской дрифт серии. Помимо личного зачета также был и
                        командный. Участие в первом этапе приняли пять команд: EXHAUST WEAR, Lucky’s 13, Black Drift,
                        Vitex oil Drift Team, GARAGE DRIFT TEAM.
                    </p>
                    <img src="img/test-image.jpg" alt="">
                    <p>
                        Судейский состав на первом этапе RDS Запад состоит из действующих пилотов RDS GP, титулованных
                        чемпионов – Чарльза НГ (Китай) и Джеймса Дина (Ирландия). Компанию им составил Дмитрий
                        Добровольский – руководитель Российской дрифт серии. Помимо личного зачета также был и
                        командный. Участие в первом этапе приняли пять команд: EXHAUST WEAR, Lucky’s 13, Black Drift,
                        Vitex oil Drift Team, GARAGE DRIFT TEAM.
                    </p>
                    <h3>
                        В роли судей - известные всему миру пилоты
                    </h3>
                    <p>
                        Судейский состав на первом этапе RDS Запад состоит из действующих пилотов RDS GP, титулованных
                        чемпионов – Чарльза НГ (Китай) и Джеймса Дина (Ирландия). Компанию им составил Дмитрий
                        Добровольский – руководитель Российской дрифт серии. Помимо личного зачета также был и
                        командный. Участие в первом этапе приняли пять команд: EXHAUST WEAR, Lucky’s 13, Black Drift,
                        Vitex oil Drift Team, GARAGE DRIFT TEAM.
                    </p>
                    <img src="img/test-image.jpg" alt="">
                    <p>
                        Судейский состав на первом этапе RDS Запад состоит из действующих пилотов RDS GP, титулованных
                        чемпионов – Чарльза НГ (Китай) и Джеймса Дина (Ирландия). Компанию им составил Дмитрий
                        Добровольский – руководитель Российской дрифт серии. Помимо личного зачета также был и
                        командный. Участие в первом этапе приняли пять команд: EXHAUST WEAR, Lucky’s 13, Black Drift,
                        Vitex oil Drift Team, GARAGE DRIFT TEAM.
                    </p>
                </div>
                <div class="article__info">
                    <div class="article__info-group">
                        <h4 class="article__info-group-title">
                            Мы в соцсетях
                        </h4>
                        <div class="article__info-social">
                            <a href="#" class="article__info-social-link">
                                YouTube
                            </a>
                            <a href="#" class="article__info-social-link">
                                Instagram
                            </a>
                            <a href="#" class="article__info-social-link">
                                VK
                            </a>
                            <a href="#" class="article__info-social-link">
                                Facebook
                            </a>
                            <a href="#" class="article__info-social-link">
                                Telegram
                            </a>
                        </div>
                    </div>
                    <div class="article__info-group">
                        <h4 class="article__info-group-title">
                            Поделиться
                        </h4>
                        <div class="article__info-share">
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vk-colored">
                                    <use xlink:href="#vk-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook-colored">
                                    <use xlink:href="#facebook-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-twitter-colored">
                                    <use xlink:href="#twitter-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-ok-colored">
                                    <use xlink:href="#ok-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-telegram-colored">
                                    <use xlink:href="#telegram-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp-colored">
                                    <use xlink:href="#whatsapp-colored"></use>
                                </svg>
                            </a>
                            <a href="#" class="article__info-share-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-share">
                                    <use xlink:href="#share"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="article__info-group article__info-group--column">
                        <h4 class="article__info-group-title">
                            Подпишитесь на рассылку
                        </h4>
                        <form action="/" method="POST" action="/" class="article__info-form">
                            <input type="email" class="article__info-form-input" placeholder="Введите e-mail">
                            <button type="submit" class="article__info-form-submit">
                                Магазин
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="article__right-col">
                <div class="article__similar-articles">
                    <h3 class="article__similar-articles-heading">
                        Похожие новости
                    </h3>
                    <ul class="article__similar-articles-list">
                        <li class="article__similar-articles-list-item">
                            <a href="#" class="press-center__card">
                                <div class="press-center__card-image-container">
                                    <img src="img/press-center-image.jpg" alt="" class="press-center__card-image">
                                </div>
                                <div class="press-center__card-date">
                                    9 дек 2020
                                </div>
                                <h4 class="press-center__card-title">
                                    Carville установили 2 рекорда России: как прошло первое АвтоБлогерШоу
                                </h4>
                                <div class="press-center__card-description">
                                    <p>
                                        АвтоБлогерШоу стало отличным стартом для нашего проекта #БИГЖИГА - именно там мы
                                        поставили сразу 2 рекорда России. О том, как это было, читайте в нашей статье.
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="article__similar-articles-list-item">
                            <a href="#" class="press-center__card">
                                <div class="press-center__card-image-container">
                                    <img src="img/press-center-image.jpg" alt="" class="press-center__card-image">
                                </div>
                                <div class="press-center__card-date">
                                    9 дек 2020
                                </div>
                                <h4 class="press-center__card-title">
                                    Carville установили 2 рекорда России: как прошло первое АвтоБлогерШоу
                                </h4>
                                <div class="press-center__card-description">
                                    <p>
                                        АвтоБлогерШоу стало отличным стартом для нашего проекта #БИГЖИГА - именно там мы
                                        поставили сразу 2 рекорда России. О том, как это было, читайте в нашей статье.
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="article__similar-articles-list-item">
                            <a href="#" class="press-center__card">
                                <div class="press-center__card-image-container">
                                    <img src="img/press-center-image.jpg" alt="" class="press-center__card-image">
                                </div>
                                <div class="press-center__card-date">
                                    9 дек 2020
                                </div>
                                <h4 class="press-center__card-title">
                                    Carville установили 2 рекорда России: как прошло первое АвтоБлогерШоу
                                </h4>
                                <div class="press-center__card-description">
                                    <p>
                                        АвтоБлогерШоу стало отличным стартом для нашего проекта #БИГЖИГА - именно там мы
                                        поставили сразу 2 рекорда России. О том, как это было, читайте в нашей статье.
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="article__similar-articles-list-item">
                            <a href="#" class="press-center__card">
                                <div class="press-center__card-image-container">
                                    <img src="img/press-center-image.jpg" alt="" class="press-center__card-image">
                                </div>
                                <div class="press-center__card-date">
                                    9 дек 2020
                                </div>
                                <h4 class="press-center__card-title">
                                    Carville установили 2 рекорда России: как прошло первое АвтоБлогерШоу
                                </h4>
                                <div class="press-center__card-description">
                                    <p>
                                        АвтоБлогерШоу стало отличным стартом для нашего проекта #БИГЖИГА - именно там мы
                                        поставили сразу 2 рекорда России. О том, как это было, читайте в нашей статье.
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}