{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <div class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                        <div class="panel__nav-link-dropdown">
                            <div class="panel__nav-link-dropdown-inner">
                                <ul class="panel__nav-link-dropdown-grid">
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Охлаждающие жидкости
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Очистители
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Название категории
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="panel__form-dropdown">
                        <div class="panel__form-dropdown-inner">
                            <ul class="panel__form-search-results">
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            Охлаждающая <b>жидкость </b>
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="panel__form-search-results-show-more">
                                Все результаты (466)
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Контакты
            </a>
        </div>
    </div>
</section>


<section class="contacts">
    <div class="container">
        <h1 class="contacts__heading">
            Контакты
        </h1>
        <div class="contacts__row">
            <div class="contacts__left-col">
                <div class="contacts__address">
                    <div class="contacts__address-block">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-location">
                            <use xlink:href="#contacts-location"></use>
                        </svg>
                        <div class="contacts__address-block-content">
                            <h3 class="contacts__address-block-heading">
                                Адрес
                            </h3>
                            <div class="contacts__address-block-text">
                                <p>
                                    г. Санкт-Петербург, Московское шоссе, 177
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="contacts__address-block">
                        <svg width="14" height="14" aria-hidden="true" class="icon-contacts-location">
                            <use xlink:href="#contacts-location"></use>
                        </svg>
                        <div class="contacts__address-block-content">
                            <h3 class="contacts__address-block-heading">
                                Адрес для корреспонденции
                            </h3>
                            <div class="contacts__address-block-text">
                                <p>
                                    192 102, Санкт-Петербург, а/я 210, до востребования
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__offices">
                    <div class="contacts__offices-block">
                        <h3 class="contacts__offices-block-heading">
                            Представитель направления Автохимия
                        </h3>
                        <div class="contacts__offices-info">
                            <a href="mailto:info@carvilleracing.ru" class="contacts__offices-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                    <use xlink:href="#contacts-mail"></use>
                                </svg>
                                <span class="contacts__offices-link-underlined-text">
                                    info@carvilleracing.ru
                                </span>

                            </a>
                            <a href="tel:+78005558965" class="contacts__offices-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                    <use xlink:href="#contacts-phone"></use>
                                </svg>
                                8-800-555-89-65
                            </a>
                        </div>
                    </div>
                    <div class="contacts__offices-block">
                        <h3 class="contacts__offices-block-heading">
                            Представитель гоночной команды
                        </h3>
                        <div class="contacts__offices-info">
                            <a href="mailto:info@carvilleracing.ru" class="contacts__offices-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-mail">
                                    <use xlink:href="#contacts-mail"></use>
                                </svg>
                                <span class="contacts__offices-link-underlined-text">
                                    info@carvilleracing.ru
                                </span>
                            </a>
                            <a href="tel:+78005558965" class="contacts__offices-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                                    <use xlink:href="#contacts-phone"></use>
                                </svg>
                                8-800-555-89-65
                            </a>
                        </div>
                    </div>

                </div>
                <form action="/" method="POST" class="contacts__form" data-need-validation>
                    <h3 class="contacts__form-heading">
                        Остались вопросы?
                    </h3>
                    <div class="contacts__form-heading-text">
                        <p>
                            Заполните форму ниже
                        </p>
                    </div>
                    <div class="contacts__form-fields">
                        <div class="contacts__form-field">
                            <input type="name" name="name" class="contacts__form-field-input" required
                                placeholder="Имя*">
                        </div>
                        <div class="contacts__form-field contacts__form-field--large">

                            <textarea name="comment" class="contacts__form-field-input"
                                placeholder="Сообщение*"></textarea>
                        </div>
                        <div class="contacts__form-field">
                            <input type="email" name="email" class="contacts__form-field-input" required
                                placeholder="E-mail*">
                        </div>

                        <button class="contacts__form-submit">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
            <div class="contacts__right-col">
                <div class="contacts__additional-links">


                    <a href="#" class="contacts__map-link">
                        <img src="img/map-preview.jpg" alt="" class="contacts__map-link-image">
                        <div class="contacts__map-link-inner">
                            Смотреть точки продаж
                        </div>
                    </a>
                    <a href="#seller-modal" class="contacts__become-distributor js-open-modal">
                        <img src="img/distrib.jpg" alt="" class="contacts__become-distributor-image">
                        <div class="contacts__become-distributor-content">
                            <div class="contacts__become-distributor-text">
                                Если Вы хотите стать нашим дистрибьютором, заполните форму заявки
                            </div>
                            <div class="contacts__become-distributor-link">
                                Отправить заявку
                            </div>
                        </div>
                    </a>
                    <a href="#partner-modal" class="contacts__become-partner js-open-modal">
                        <picture>
                            <source srcset="img/partner-mobile.jpg" media="(max-width: 640px)">
                            <img src="img/partner-bg.jpg" alt="" class="contacts__become-partner-image">
                        </picture>
                        <div class="contacts__become-partner-content">
                            <div class="contacts__become-partner-text">
                                Хотите стать партнером гоночной команды Carville Racing?
                            </div>
                            <div class="contacts__become-partner-link">
                                Отправить заявку
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}