{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <div class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                        <div class="panel__nav-link-dropdown">
                            <div class="panel__nav-link-dropdown-inner">
                                <ul class="panel__nav-link-dropdown-grid">
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Охлаждающие жидкости
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Очистители
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Название категории
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="panel__form-dropdown">
                        <div class="panel__form-dropdown-inner">
                            <ul class="panel__form-search-results">
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            Охлаждающая <b>жидкость </b>
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="panel__form-search-results-show-more">
                                Все результаты (466)
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Материалы
            </a>
        </div>
    </div>
</section>



<section class="map">
    <div class="container">
        <div class="map__wrapper">
            <div class="map__element js-map">

            </div>
        </div>
        <div class="map__offices">
            <form method="POST" action="/" class="map__offices-filters">
                <div class="map__offices-inner-container">

                    <div class="map__offices-filters-row">


                        <div class="map__offices-filters-checkboxes">
                            <label class="map__offices-filters-checkbox">
                                <input type="radio" name="type" value="1" class="map__offices-filters-checkbox-input"
                                    checked>
                                <span class="map__offices-filters-checkbox-text">
                                    Дистрибьюторы
                                </span>
                            </label>
                            <label class="map__offices-filters-checkbox">
                                <input type="radio" name="type" value="2" class="map__offices-filters-checkbox-input">
                                <span class="map__offices-filters-checkbox-text">
                                    Розница
                                </span>
                            </label>
                            <label class="map__offices-filters-checkbox">
                                <input type="radio" name="type" value="3" class="map__offices-filters-checkbox-input">
                                <span class="map__offices-filters-checkbox-text">
                                    Онлайн
                                </span>
                            </label>
                        </div>
                        <div class="map__offices-selects">
                            <div class="map__offices-select map__offices-select--hidden">
                                <div class="catalog-products__filters-select">
                                    <select name="type" class="js-custom-select">
                                        <option value="1">Дистрибьюторы</option>
                                        <option value="2">Розница</option>
                                        <option value="3">Онлайн</option>
                                    </select>
                                </div>
                            </div>
                            <div class="map__offices-select">
                                <div class="catalog-products__filters-select">
                                    <select name="country" class="js-custom-select">
                                        <option value="1">Все страны</option>
                                        <option value="2">Россия</option>
                                        <option value="3">Беларусь</option>
                                    </select>
                                </div>
                            </div>
                            <div class="map__offices-select">
                                <div class="catalog-products__filters-select">
                                    <select name="city" class="js-custom-select">
                                        <option value="1">Все города</option>
                                        <option value="2">Казань</option>
                                        <option value="3">Москва</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>


            <div class="map__offices-results">
                <div class="map__offices-inner-container">


                    <div class="map__offices-results-header">
                        <div class="map__offices-results-header-title">
                            Страна
                        </div>
                        <div class="map__offices-results-header-title">
                            Город
                        </div>
                        <div class="map__offices-results-header-title">
                            Адрес
                        </div>
                        <div class="map__offices-results-header-title">
                            Название
                        </div>
                    </div>
                    <ul class="map__offices-cards-list">
                        <li class="map__offices-cards-list-item">
                            <div class="map__offices-card">
                                <div class="map__offices-card-text">
                                    Россия
                                </div>
                                <div class="map__offices-card-text">
                                    Адлер
                                </div>
                                <div class="map__offices-card-info">
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-location">
                                            <use xlink:href="#offices-location"></use>
                                        </svg>
                                        ул. Авиационная, 34/3
                                    </a>
                                    <a href="tel:+78622914848" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-phone">
                                            <use xlink:href="#offices-phone"></use>
                                        </svg>
                                        +7 (862) 291-48-48
                                    </a>
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-schedule">
                                            <use xlink:href="#offices-schedule"></use>
                                        </svg>
                                        Пн-Сб с 9:00 до 19:00. Вс: выходной
                                    </a>
                                </div>
                                <div class="map__offices-card-text">
                                    Альфа-Авто
                                </div>
                            </div>
                        </li>
                        <li class="map__offices-cards-list-item">
                            <div class="map__offices-card">
                                <div class="map__offices-card-text">
                                    Россия
                                </div>
                                <div class="map__offices-card-text">
                                    Адлер
                                </div>
                                <div class="map__offices-card-info">
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-location">
                                            <use xlink:href="#offices-location"></use>
                                        </svg>
                                        ул. Авиационная, 34/3
                                    </a>
                                    <a href="tel:+78622914848" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-phone">
                                            <use xlink:href="#offices-phone"></use>
                                        </svg>
                                        +7 (862) 291-48-48
                                    </a>
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-schedule">
                                            <use xlink:href="#offices-schedule"></use>
                                        </svg>
                                        Пн-Сб с 9:00 до 19:00. Вс: выходной
                                    </a>
                                </div>
                                <div class="map__offices-card-text">
                                    Альфа-Авто
                                </div>
                            </div>
                        </li>
                        <li class="map__offices-cards-list-item">
                            <div class="map__offices-card">
                                <div class="map__offices-card-text">
                                    Россия
                                </div>
                                <div class="map__offices-card-text">
                                    Адлер
                                </div>
                                <div class="map__offices-card-info">
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-location">
                                            <use xlink:href="#offices-location"></use>
                                        </svg>
                                        ул. Авиационная, 34/3
                                    </a>
                                    <a href="tel:+78622914848" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-phone">
                                            <use xlink:href="#offices-phone"></use>
                                        </svg>
                                        +7 (862) 291-48-48
                                    </a>
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-schedule">
                                            <use xlink:href="#offices-schedule"></use>
                                        </svg>
                                        Пн-Сб с 9:00 до 19:00. Вс: выходной
                                    </a>
                                </div>
                                <div class="map__offices-card-text">
                                    Альфа-Авто
                                </div>
                            </div>
                        </li>
                        <li class="map__offices-cards-list-item">
                            <div class="map__offices-card">
                                <div class="map__offices-card-text">
                                    Россия
                                </div>
                                <div class="map__offices-card-text">
                                    Адлер
                                </div>
                                <div class="map__offices-card-info">
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-location">
                                            <use xlink:href="#offices-location"></use>
                                        </svg>
                                        ул. Авиационная, 34/3
                                    </a>
                                    <a href="tel:+78622914848" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-phone">
                                            <use xlink:href="#offices-phone"></use>
                                        </svg>
                                        +7 (862) 291-48-48
                                    </a>
                                    <a href="#" class="map__offices-card-info-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-offices-schedule">
                                            <use xlink:href="#offices-schedule"></use>
                                        </svg>
                                        Пн-Сб с 9:00 до 19:00. Вс: выходной
                                    </a>
                                </div>
                                <div class="map__offices-card-text">
                                    Альфа-Авто
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="catalog-products__pagination map__pagination">
                        <a href="#" class="catalog-products__pagination-prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-prev">
                                <use xlink:href="#prev"></use>
                            </svg>
                        </a>
                        <a href="#" class="catalog-products__pagination-link current">
                            1
                        </a>
                        <a href="#" class="catalog-products__pagination-link">
                            2
                        </a>
                        <a href="#" class="catalog-products__pagination-link">
                            3
                        </a>
                        <a href="#" class="catalog-products__pagination-next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-next">
                                <use xlink:href="#next"></use>
                            </svg>
                        </a>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section>


{{/content}}
{{/extend}}