{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <a href="#" class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                    </a>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Материалы
            </a>
        </div>
    </div>
</section>


<section class="materials">
    <div class="container">
        <div class="materials__top-row">
            <h1 class="materials__heading">
                Материалы
            </h1>
            <form action="/" method="POST" class="materials__form">
                <input type="text" class="materials__form-input" placeholder="Поиск материала по артикулу...">
                <button type="submit" class="materials__form-submit">
                    <svg width="14" height="14" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="materials__layout">
            <div class="materials__layout-sidebar">
                <nav class="materials__nav">
                    <a href="#" class="materials__nav-link ">
                        Общие
                    </a>
                    <a href="#" class="materials__nav-link active">
                        Документы
                    </a>
                    <a href="#" class="materials__nav-link">
                        Видеообзоры
                    </a>
                    <a href="#" class="materials__nav-link">
                        Рекламные материалы
                    </a>
                </nav>
            </div>
            <div class="materials__layout-main">
                <div class="materials__block">
                    <h3 class="materials__block-heading">
                        Тех. паспорта
                    </h3>
                    <ul class="materials__list materials__list--three-columns">
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Аксессуары для ремонта и обслуживания колес


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="materials__block">
                    <h3 class="materials__block-heading">
                        Сертификаты
                    </h3>
                    <ul class="materials__list materials__list--three-columns">
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Аксессуары для ремонта и обслуживания колес


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Рекламация для покупателя


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="materials__list-item">
                            <a href="#" class="materials__link">
                                Автогаджеты и девайсы


                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}