{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <a href="#" class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                    </a>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Материалы
            </a>
        </div>
    </div>
</section>


<section class="materials">
    <div class="container">
        <div class="materials__top-row">
            <h1 class="materials__heading">
                Материалы
            </h1>
            <form action="/" method="POST" class="materials__form">
                <input type="text" class="materials__form-input" placeholder="Поиск материала по артикулу...">
                <button type="submit" class="materials__form-submit">
                    <svg width="14" height="14" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="materials__layout">
            <div class="materials__layout-sidebar">
                <nav class="materials__nav">
                    <a href="#" class="materials__nav-link active">
                        Общие
                    </a>
                    <a href="#" class="materials__nav-link">
                        Документы
                    </a>
                    <a href="#" class="materials__nav-link">
                        Видеообзоры
                    </a>
                    <a href="#" class="materials__nav-link">
                        Рекламные материалы
                    </a>
                </nav>
                <div class="product__tabs-select">
                    <select name="select-tab" class="js-custom-select">
                        <option value="0">
                            Общие
                        </option>
                        <option value="1">
                            Документы
                        </option>
                        <option value="2">
                            Видеообзоры
                        </option>
                        <option value="3">
                            Рекламные материалы
                        </option>
                    </select>
                </div>
            </div>


            <div class="materials__layout-main">
                <ul class="materials__list materials__list--two-columns">
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Прайс-лист


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Рекламация для клиента


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Каталог. Общий

                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Рекламация для покупателя


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Каталог. Ароматизаторы

                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Руководство по мерчендайзингу


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Каталог. Инструменты

                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Карточка бренда


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Каталог. Ковры, чехлы

                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Логотип


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Презентация

                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Баннеры


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            YML ссылка продукции


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Листовки


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            XML ссылка продукции


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Вебинары


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="materials__list-item">
                        <a href="#" class="materials__link">
                            Метрические данные


                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}