{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <a href="#" class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                    </a>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

        </div>
        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>
            <a href="#" class="breadcrumbs__link">
                Каталог
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>
            <a href="#" class="breadcrumbs__link">
                Охлаждающие жидкости
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>
            <a href="#" class="breadcrumbs__link active">
                Антифриз Carville Racing карбоксилатный флуоресцентный -40°С, 1л
            </a>
        </div>
    </div>
</section>
<section class="product">
    <div class="container">
        <h1 class="product__main-heading">
            Антифриз Carville Racing карбоксилатный<br> флуоресцентный -40°С, 1л
        </h1>
        <div class="product__layout">
            <div class="product__layout-sidebar">
                <div class="product__gallery">
                    <a href="img/product.jpg" class="product__gallery-image-link" data-fancybox="product">
                        <img src="img/product.jpg" alt="" class="product__gallery-image">
                    </a>
                    <a href="img/product.jpg" class="product__gallery-image-link" data-fancybox="product">
                        <img src="img/product.jpg" alt="" class="product__gallery-image">
                    </a>
                    <a href="img/product.jpg" class="product__gallery-image-link" data-fancybox="product">
                        <img src="img/product.jpg" alt="" class="product__gallery-image">
                    </a>
                    <a href="img/product.jpg" class="product__gallery-image-link" data-fancybox="product">
                        <img src="img/product.jpg" alt="" class="product__gallery-image">
                    </a>
                </div>
            </div>
            <div class="product__layout-main">
                <div class="product__inner-row">
                    <div class="product__main-content">
                        <a href="#" class="catalog-products__card-copy-code" data-code="AGT-S-00">
                            Код: AGT-S-00
                            <svg width="14" height="14" aria-hidden="true" class="icon-copy">
                                <use xlink:href="#copy"></use>
                            </svg>
                        </a>

                        <div class="product__features">
                            <div class="product__features-card">
                                <img src="img/features/1.png" alt="" class="product__features-card-image">
                            </div>
                            <div class="product__features-card">
                                <img src="img/features/2.png" alt="" class="product__features-card-image">
                            </div>
                            <div class="product__features-card">
                                <img src="img/features/3.png" alt="" class="product__features-card-image">
                                <div class="product__features-card-dropdown">
                                    <div class="product__features-card-dropdown-inner">
                                        Протестировано и рекомендовано специалистами ведущего российского производителя
                                        радиаторов LUZAR
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__description">
                            <p>
                                <b>Carville Racing G12</b> — индикация утечек в ультрафиолетовом свете. Длительный срок
                                эксплуатации — до 5 лет. Стабильность эксплуатационных свойств на протяжении всего срока
                                эксплуатации. Высокотемпературная стабильность пакета присадок. Высокая эффективность
                                охлаждения двигателя. Эффективная защита от коррозии элементов охлаждающей системы.
                                Эффективная защита алюминия от высокотемпературной коррозии. Эффективная защита от
                                кавитации. Совместимость с элементами из пластика, резины и эластомеров. Увеличение
                                срока эксплуатации термостата и водяного насоса. Не допускает образования осадка,
                                засоров и отложений.
                            </p>
                        </div>
                        <a href="#" class="product__download-materials" download>
                            <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                <use xlink:href="#download"></use>
                            </svg>
                            <span>
                                Скачать материалы
                            </span>

                        </a>
                        <div class="product__tabs js-tabs">
                            <div class="product__tabs-nav">
                                <a href="#" class="product__tabs-link js-tabs-link active">
                                    Материалы
                                </a>
                                <a href="#" class="product__tabs-link js-tabs-link">
                                    Характеристики
                                </a>
                                <a href="#" class="product__tabs-link js-tabs-link">
                                    Спецификация
                                </a>
                                <a href="#" class="product__tabs-link js-tabs-link">
                                    Преимущества
                                </a>
                            </div>
                            <div class="product__tabs-items">
                                <div class="product__tabs-item js-tabs-item">
                                    <div class="product__materials">
                                        <div class="product__materials-block">
                                            <h4 class="product__materials-block-heading">
                                                Документация
                                            </h4>
                                            <div class="product__materials-download-links">
                                                <a href="#" class="product__materials-download-link">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-material">
                                                        <use xlink:href="#material"></use>
                                                    </svg>
                                                    <span class="product__materials-download-link-text">
                                                        <span class="product__materials-download-link-text-description">
                                                            Описание продукта CS Standart.pdf
                                                        </span>
                                                        <span class="product__materials-download-link-count">
                                                            (65 kb)
                                                        </span>
                                                    </span>
                                                </a>
                                                <a href="#" class="product__materials-download-link">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-material">
                                                        <use xlink:href="#material"></use>
                                                    </svg>
                                                    <span class="product__materials-download-link-text">
                                                        <span class="product__materials-download-link-text-description">
                                                            Описание продукта CS Standart.pdf
                                                        </span>
                                                        <span class="product__materials-download-link-count">
                                                            (65 kb)
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__materials-block">
                                            <h4 class="product__materials-block-heading">
                                                Статьи и обзоры
                                            </h4>
                                            <div class="product__articles">
                                                <a href="#" class="product__articles-card">
                                                    <div class="product__articles-card-image-container">
                                                        <img src="img/article-1.jpg" alt=""
                                                            class="product__articles-card-image">
                                                    </div>
                                                    <div class="product__articles-card-text">
                                                        <span>
                                                            Развенчиваем 8 популярных заблуждений об охлаждающей
                                                            жидкости
                                                        </span>
                                                    </div>
                                                </a>
                                                <a href="#" class="product__articles-card">
                                                    <div class="product__articles-card-image-container">
                                                        <img src="img/article-2.jpg" alt=""
                                                            class="product__articles-card-image">
                                                    </div>
                                                    <div class="product__articles-card-text">
                                                        <span>
                                                            Развенчиваем 8 популярных заблуждений об охлаждающей
                                                            жидкости
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__tabs-item js-tabs-item">
                                    <div class="product__specs-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/1.png" alt="" class="product__specs-icon">
                                                        Критализация
                                                    </th>
                                                    <td>
                                                        - 40°С
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/2.png" alt="" class="product__specs-icon">
                                                        Замерзание
                                                    </th>
                                                    <td>
                                                        - 43°С
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/3.png" alt="" class="product__specs-icon">
                                                        Производство
                                                    </th>
                                                    <td>
                                                        Карбоксилатная
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/3.png" alt="" class="product__specs-icon">
                                                        Производство
                                                    </th>
                                                    <td>
                                                        Карбоксилатная
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/3.png" alt="" class="product__specs-icon">
                                                        Производство
                                                    </th>
                                                    <td>
                                                        Карбоксилатная
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/3.png" alt="" class="product__specs-icon">
                                                        Производство
                                                    </th>
                                                    <td>
                                                        Карбоксилатная
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <img src="img/specs/3.png" alt="" class="product__specs-icon">
                                                        Производство
                                                    </th>
                                                    <td>
                                                        Карбоксилатная
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="product__tabs-item js-tabs-item">
                                    <div class="product__materials-block">
                                        <h4 class="product__materials-block-heading">
                                            Соответствует требованиям
                                        </h4>
                                        <div class="product__requirements js-show-more">
                                            <div class="product__requirements-content js-show-more-content">
                                                <p>
                                                    ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM
                                                    В3306,
                                                    ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                    JIL, ASTM В3306, ASTM D6210, JIL, STM D6210, JIL, ASTM В3306, ASTM
                                                    D6210, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL,
                                                    ASTM
                                                    В3306,
                                                    ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                    JIL, ASTM В3306, ASTM D6210, JIL, STM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                </p>
                                            </div>
                                            <a href="#" class="product__requirements-show-more js-show-more-btn">
                                                <span>
                                                    Показать весь список
                                                </span>
                                                <span>
                                                    Скрыть
                                                </span>

                                            </a>

                                        </div>
                                    </div>
                                    <div class="product__materials-block">
                                        <h4 class="product__materials-block-heading">
                                            Спецификации
                                        </h4>
                                        <div class="product__requirements js-show-more">
                                            <div class="product__requirements-content js-show-more-content">
                                                <p>
                                                    ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM
                                                    В3306,
                                                    ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                    JIL, ASTM В3306, ASTM D6210, JIL, STM D6210, JIL, ASTM В3306, ASTM
                                                    D6210, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL,
                                                    ASTM
                                                    В3306,
                                                    ASTM D6210, JIL, ASTM В3306, ASTM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                    JIL, ASTM В3306, ASTM D6210, JIL, STM D6210, JIL, ASTM В3306, ASTM
                                                    D6210,
                                                </p>
                                            </div>
                                            <a href="#" class="product__requirements-show-more js-show-more-btn">
                                                <span>
                                                    Показать весь список
                                                </span>
                                                <span>
                                                    Скрыть
                                                </span>

                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <div class="product__tabs-item js-tabs-item">
                                   <ul class="product__advantages-list">
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/1.png" alt="" class="product__advantages-icon">
                                           Повышенная эффективность охлаждения двигателя
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/2.png" alt="" class="product__advantages-icon">
                                           Идеальная высокотемпературная защита алюминия
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/3.png" alt="" class="product__advantages-icon">
                                           Увеличениение срока эксплуатации водяного насоса
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/4.png" alt="" class="product__advantages-icon">
                                           Высокая стабильность эксплуатационных свойств
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/5.png" alt="" class="product__advantages-icon">
                                           Улучшенная соввестимость с пластиками и эластомерами
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/6.png" alt="" class="product__advantages-icon">
                                           Отсутствие засоров и отложений в радиаторе
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/7.png" alt="" class="product__advantages-icon">
                                           Отличная высокотемпературная стабильность
                                       </li>
                                       <li class="product__advantages-list-item">
                                           <img src="img/advantages/8.png" alt="" class="product__advantages-icon">
                                           Увеличеннный ресурс эксплуатации
                                       </li>
                                   </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__price-block">
                        <div class="product__price-recommended">
                            рекомендуемая цена
                        </div>
                        <div class="product__price-number">
                            465 руб.
                        </div>
                        <div class="product__price-text">
                            <p>
                                Напишите нам на почту <a href="mailto:info@airline.su">info@airline.su</a> либо выберите
                                дистрибьютора или авторизированную
                                розничную точку продаж или интернет-магазин
                            </p>
                        </div>
                        <a href="#" class="product__where-to-buy">
                            где купить

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}