{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <a href="#" class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                    </a>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Каталог
            </a>
        </div>
    </div>
</section>


<section class="materials">
    <div class="container">
        <div class="materials__top-row">
            <h1 class="materials__heading materials__heading--margin">
                Каталог
            </h1>

        </div>
        <div class="search">
            <div class="search__row">
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/goods.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Охлаждающие жидкости
                            </div>
                            <div class="goods__card-count">
                                13 товаров
                            </div>
                        </div>

                    </a>
                </div>
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/2.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазочные материалы
                            </div>
                            <div class="goods__card-count">
                                19 товара
                            </div>
                        </div>

                    </a>
                    <a href="#" class="goods__card">

                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазки пластичные
                            </div>
                            <div class="goods__card-count">
                                15 товаров
                            </div>
                        </div>

                    </a>
                    <a href="#" class="goods__card">

                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазки аэрозоли
                            </div>
                            <div class="goods__card-count">
                                4 товара
                            </div>
                        </div>

                    </a>
                </div>

                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/3.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Очистители технические аэрозоли
                            </div>
                            <div class="goods__card-count">
                                23 товара
                            </div>
                        </div>

                    </a>
                </div>
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/3.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Герметики
                            </div>
                            <div class="goods__card-count">
                                23 товара
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}