{{#extend "layout"}}
{{#content "main"}}

<section class="panel">
    <div class="container">
        <div class="panel__row">
            <div class="panel__left-col">
                <div class="panel__nav">
                    <div class="panel__nav-link selected">
                        <svg width="14" height="14" aria-hidden="true" class="icon-burger">
                            <use xlink:href="#burger"></use>
                        </svg>
                        Продукция
                        <div class="panel__nav-link-dropdown">
                            <div class="panel__nav-link-dropdown-inner">
                                <ul class="panel__nav-link-dropdown-grid">
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Охлаждающие жидкости
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Очистители
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>

                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Смазки
                                        </h4>
                                        <div class="panel__nav-link-dropdown-links">
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>
                                            <a href="#" class="panel__nav-link-dropdown-link">
                                                Охлаждающие жидкости
                                            </a>


                                        </div>
                                    </li>
                                    <li class="panel__nav-link-dropdown-grid-item">
                                        <h4 class="panel__nav-link-dropdown-grid-title">
                                            Название категории
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="panel__nav-link">

                        Охлаждающие жидкости
                    </a>
                    <a href="#" class="panel__nav-link">

                        Смазки
                    </a>
                    <a href="#" class="panel__nav-link">

                        Очистители
                    </a>
                    <a href="#" class="panel__nav-link">

                        Герметики
                    </a>
                </div>
            </div>
            <div class="panel__right-col">
                <form action="/" method="GET" class="panel__form">
                    <input type="text" class="panel__form-input" placeholder="Поиск по названию">
                    <button class="panel__form-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                    <div class="panel__form-dropdown">
                        <div class="panel__form-dropdown-inner">
                            <ul class="panel__form-search-results">
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            Охлаждающая <b>жидкость </b>
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                                <li class="panel__form-search-results-item">
                                    <div class="panel__form-search-results-photo-container">
                                        <img src="img/search-result.jpg" alt=""
                                            class="panel__form-search-results-photo">
                                    </div>
                                    <div class="panel__form-search-results-text">
                                        <p>
                                            <b>Жидкость</b> Carville Racing карбоксилатный флуоресцентный -40°С, 1л
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="panel__form-search-results-show-more">
                                Все результаты (466)
                            </a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="breadcrumbs panel__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Сarville Racing
            </a>
            <span class="breadcrumbs__divider">
                /
            </span>

            <a href="#" class="breadcrumbs__link active">
                Каталог
            </a>
        </div>
    </div>
</section>


<section class="materials">
    <div class="container">
        <div class="materials__top-row">
            <h1 class="materials__heading materials__heading--margin">
                Каталог
            </h1>

        </div>
        <div class="search">
            <div class="search__row">
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/goods.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Охлаждающие жидкости
                            </div>
                            <div class="goods__card-count">
                                13 товаров
                            </div>
                        </div>

                    </a>
                </div>
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/2.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазочные материалы
                            </div>
                            <div class="goods__card-count">
                                19 товара
                            </div>
                        </div>

                    </a>
                    <a href="#" class="goods__card">

                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазки пластичные
                            </div>
                            <div class="goods__card-count">
                                15 товаров
                            </div>
                        </div>

                    </a>
                    <a href="#" class="goods__card">

                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Смазки аэрозоли
                            </div>
                            <div class="goods__card-count">
                                4 товара
                            </div>
                        </div>

                    </a>
                </div>

                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/3.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Очистители технические аэрозоли
                            </div>
                            <div class="goods__card-count">
                                23 товара
                            </div>
                        </div>

                    </a>
                </div>
                <div class="search__col">
                    <a href="#" class="goods__card">
                        <div class="goods__card-image-container">
                            <img src="img/search/3.jpg" alt="" class="goods__card-image">
                        </div>
                        <div class="goods__card-content">
                            <div class="goods__card-category">
                                Герметики
                            </div>
                            <div class="goods__card-count">
                                23 товара
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}