.brands {
    margin-bottom: 4rem;
    background-color: var(--primary-color);
    color: white;

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}
.brands__row {
    display: flex;
    margin-right: calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2);

    @include breakpoint(mobile) {
        margin-right: 0;
        flex-direction: column;
    }
}

.brands__left-col {
    width: 58rem;
    position: relative;
    flex-shrink: 0;

    padding: 12rem 0;

    @include breakpoint(mobile) {
        padding: 4rem 0;
        flex-shrink: 1;
        width: 100%;
    }
}

.brands__right-col {
    width: 50%;
    flex-grow: 1;
    position: relative;

    @include breakpoint(mobile) {
        width: auto;
        margin: 0 calc(-1 * var(--content-padding));
        flex-grow: 0;
        &::before {
            content: '';
            display: block;
            padding-bottom: 60%;
        }
    }
}

.brands__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }

    .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 6rem;
        fill: var(--primary-color);
        z-index: 40;
        transition: transform 0.3s;

        @include breakpoint(mobile) {
            width: 4rem;
            height: 4rem;
        }
    }

    .no-touch &:hover {
        .icon-play {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }
}

.brands__video-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brands__text-content {
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.brands__heading {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.6rem;

    @include breakpoint(mobile) {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 1.8rem;
    }
}

.brands__text {
    font-size: 3.2rem;
    line-height: 3.6rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: 500;
    }
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;
    margin-bottom: 8rem;
    @include breakpoint(mobile) {
        grid-column-gap: 4.4rem;
        grid-gap: 3.8rem;
        justify-items: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        margin-bottom: 5rem;
    }
}

.brands__link {
    display: block;
}

.brands__link-image {
    display: block;
    height: 4.4rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: left center;

    @include breakpoint(mobile) {
        height: 4.2rem;
    }
}

.brands__buttons {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.brands__watch-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1.2rem 2.4rem;
    margin-right: 1.2rem;
    flex-shrink: 0;
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    &:link,
    &:visited {
        color: var(--primary-color);
    }
}

.brands__download-link {
    flex-shrink: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1rem 2.4rem;
    margin-right: 1.2rem;
    flex-shrink: 0;
    border: 2px solid white;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-right: 1rem;
    }
}
