.goods {
    padding-bottom: 8rem;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding-bottom: 3rem;
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 35rem;
        width: 100%;
        background-color: #f9f9f9;

        @include breakpoint(mobile) {
            height: 100%;
            display: none;
        }
    }
}

.goods__heading {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-bottom: 6rem;
    }
}

.goods__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 8rem;

    @include breakpoint(mobile) {
        grid-gap: 4rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.goods__list-item {
    display: flex;
    flex-direction: column;
}

.goods__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-grow: 1;
    &:hover {
        .goods__card-category {
            color: var(--primary-color);
        }
    }
}

.goods__card-image-container {
    position: relative;
    display: block;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 70%;

        @include breakpoint(mobile) {
            padding-bottom: 100%;
        }
    }
}

.goods__card-image {
    width: 70%;
    height: auto;
    max-height: 90%;

    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
}

.goods__card-category {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding-bottom: 3.5rem;

    transition: color 0.2s;

    @include breakpoint(mobile) {
        padding-bottom: 2.5rem;

        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
    }
}

.goods__card-content {
    padding: 0 4.8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include breakpoint(mobile) {
        padding: 0 1rem;
        padding-bottom: 1rem;
    }
}

.goods__card-count {
    padding-top: 3.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #62646a;
    border-top: 1px solid #afafaf;
    margin-top: auto;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-top: 2.5rem;
        text-align: center;
    }
}
