.panel {
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: #f9f9f9;

    @include breakpoint(mobile) {
        background-color: #fff;
        padding: 0;
    }
}

.panel__row {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    border: 1px solid #efefef;
    background-color: #fff;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        display: none;
    }
}

.panel__right-col {
    border-left: 1px solid #efefef;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        border: none;
        border-top: 1px solid #efefef;
    }
}

.panel__nav {
    display: flex;
    position: relative;
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.panel__nav-link {
    padding: 2rem 2.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.3;
        padding: 1.4rem 2rem;
        text-align: left;
        justify-content: flex-start;
    }
    &.selected {
        color: white;
        background-color: var(--primary-color);
        margin: -1px;
        &:link,
        &:visited {
            color: white;
        }
    }

    &:not(.selected):hover {
        color: var(--primary-color);
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-right: 2rem;

        @include breakpoint(mobile) {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 1.5rem;
        }
    }

    &:hover {
        .panel__nav-link-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.panel__nav-link-dropdown {
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 100;
    right: -1px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.panel__nav-link-dropdown-inner {
    background: #ffffff;
    box-shadow: 0px -0.2rem 0px #ea5b0c, 0px 1.2rem 0.8rem rgba(0, 0, 0, 0.15);
    padding-top: 4.4rem;
    color: var(--text-color);
    padding-left: 2.4rem;
    padding-right: 6rem;
    text-align: left;
    padding-bottom: 6rem;
}

.panel__nav-link-dropdown-grid {
    column-count: 3;
    column-gap: 9rem;
}

.panel__nav-link-dropdown-grid-item {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    margin-bottom: 6rem;
}

.panel__nav-link-dropdown-grid-title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 1rem;
    font-weight: 400;
}

.panel__nav-link-dropdown-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.6rem;
}

.panel__nav-link-dropdown-link {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.panel__form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 2rem;
    position: relative;
    @include breakpoint(mobile) {
        min-height: 4.5rem;
    }
}

.panel__form-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 80;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s linear .3s;
}

.panel__form:hover .panel__form-input:not(:placeholder-shown) ~ .panel__form-dropdown {
    opacity: 1;
    visibility: inherit;
    transition: opacity .3s, visibility .3s;
}

.panel__form-dropdown-inner {
    background: #ffffff;
    box-shadow: 0px -0.2rem 0px #ea5b0c, 0px 1.2rem 0.8rem rgba(0, 0, 0, 0.15);
    padding: 2rem;
    padding-bottom: 3.3rem;
}

.panel__form-search-results {
    display: flex;
    flex-direction: column;
}

.panel__form-search-results-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.panel__form-search-results-photo-container {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    flex-shrink: 0;
    margin-right: 2rem;
}

.panel__form-search-results-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel__form-search-results-text {
    width: 50%;
    flex-grow: 1;

    font-size: 1.8rem;
    line-height: 2.4rem;
    b {
        font-weight: 600;
    }
}

.panel__form-search-results-show-more {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 2.8rem;
    margin-left: 6.8rem;
    display: inline-flex;
    border-bottom: 1px solid currentColor;
    color: var(--primary-color);
    transition: color .2s, border-color .2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    &:hover {
        border-color: transparent;
    }
}

.panel__form-input {
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 100%;
    padding: 0 2rem;

    @include placeholder {
        color: #afafaf;
    }
}

.panel__form-submit {
    flex-shrink: 0;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;

    @include breakpoint(mobile) {
        width: 1.8rem;
        height: 1.8rem;
    }
    svg {
        width: 100%;
        height: 100%;
        fill: var(--primary-color);
        display: block;
    }
}

.panel__breadcrumbs {
    margin-top: 3rem;
    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}
