.press-center__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 8rem;
    grid-auto-flow: dense;

    @include breakpoint(tablet) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 6rem;
    }
}

.press-center__list-item {
    display: flex;
    flex-direction: column;
}

.press-center__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .no-touch &:hover,
    .touch &:active {
        .press-center__card-image {
            transform: scale(1.03);
        }
    }
}

.press-center__card-image-container {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.press-center__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.press-center__card-date {
    display: flex;
    align-items: center;
    min-height: 7rem;
    border-bottom: 1px solid #62646a;
    margin-bottom: 2.8rem;
}

.press-center__card-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.press-center__card-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #62646a;
}
